.div1, .div2{
    background-color: red;
    /*POR DEFECTO: block*/
}
.span1{
    background-color: aquamarine;
    /*POR DEFECTO: display:inline*/
    float: right;
}
.span2{
    background-color: aquamarine;
    /*POR DEFECTO: display:inline*/
    float: left;
}
.img{
    width: 50px;
    display: inline-block;
}